h1{
    text-align: center;
    color: rgb(224, 28, 67);
    text-shadow: 2px 2px 2px black;
    font-size: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(209, 216, 214);
    font-family: sans-serif;
    outline: none;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgb(136, 139, 139);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 5px rgb(48, 48, 49);

    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgb(241, 241, 241);
    box-shadow: inset -5px -5px 12px #c0bfbf,
                inset 5px 5px 12px rgba(135, 125, 125, 0.551);
    border: none;
    border-radius: 30px;
    color: rgb(16, 15, 15);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    
}
button{
    height: 40px;
    width: 40px;
    background-color: rgb(241, 241, 241);
    box-shadow: inset -5px -5px 12px #c0bfbf,
                inset 5px 5px 12px rgba(135, 125, 125, 0.551);
    border: none;
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    font-size: large;
    

}
 .equal{
    width: 130px;

} 
